.grid-container{
    display: grid;
    grid-template-areas:
    "header header header"
    "nav main main"
    "nav aside aside"
    "footer footer footer" ;
}
header{
    grid-area:header; background-color: blue;
}
nav{
    grid-area:nav; background-color: lightblue;
}
footer{
    grid-area:footer; background-color: lightsteelblue
}